/* src/styles/About.module.css */

.navbar {
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #eff1f3; 
  backdrop-filter: blur(3px); 
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3rem;
  cursor: pointer;
}

.navbar a {
  color: var(--textColor);
  text-decoration: none;
}

.main {
  padding-top: 60px; /* 留出导航栏的空间 */
  color: var(--textColor);
}

.section {
  height: 75vh; /* 设置每个板块的高度为 75vh */
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 8px;
  display: flex; /* 使内容块可使用 Flexbox */
  flex-direction: column; /* 垂直排列内容 */
  justify-content: center; /* 垂直居中 */
  align-items: center; /* 水平居中 */
}
