/* src/styles/About.module.css */

.navbar {
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #eff1f3; 
  backdrop-filter: blur(3px); 
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3rem;
  cursor: pointer;
}

.navbar a {
  color: var(--textColor);
  text-decoration: none;
}

.main {
  color: var(--textColor);
}


